<!DOCTYPE html>
<html>
<head>
  <title>Reapp</title>

  <script src="https://cdn.pubnub.com/pubnub.min.js"></script>
  <script type="text/javascript">
      var userID = "User " + Math.round(Math.random() * 15000);
      var PUBNUB_demo = PUBNUB.init({
          publish_key: '<%= PUBNUB_PUBLISH_KEY %>',
          subscribe_key: '<%= PUBNUB_SUBSCRIBE_KEY %>',
          ssl: true,
          uuid : userID
      });

  </script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
